<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name             ="db_credentials"
             connectionString ="
                 Data Source=FROZENWINDOWS\FROZENSQLSERVER;
                 Initial Catalog=northwind;
                 User ID=SA; Password=373042Av;
                 Connect Timeout=30;
                 Encrypt=False;
                 TrustServerCertificate=False;
                 ApplicationIntent=ReadWrite;
                 MultiSubnetFailover=False
             "/>
    </connectionStrings>
</configuration>